/* reset */
*{
    margin: 0;
    padding: 0;
}
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #f86f2d;
    
}

h1,h2,h3,h4{
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}
p{
    font-family: 'Be Vietnam', sans-serif;
    /* margin-bottom: 0rem; */
}

ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
a:hover{
    cursor: pointer;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* section */
#section-counter {
    position: relative;
    z-index: 0;
}
.ftco-intro {
    margin-top: -80px;
}
.ftco-intro .block-18.color-1 {
    background: #f86f2d;
}
.ftco-intro .block-18 {
    display: block;
    width: 100%;
    padding: 30px;
    color: rgba(0,0,0,.7);
}
.ftco-intro .block-18 .text span {
    display: block;
    color: #000;
    font-size: 24px;
}
.ftco-intro .block-18 .text strong {
    font-size: 60px;
    color: #000;
    font-weight: 300;
}
.ftco-intro .block-18.color-2 {
    background: #fa8f3d;
}
.ftco-intro .block-18.color-3 {
    background: #faaa3a;
}
.ftco-section {
    padding: 7em 0;
    position: relative;
}



/*========================================= index ===================================*/

    #socialTop {
        height: 45px;
        background: #00529b url(../images/bg1.png) left top repeat-x; 
    }
     #topNav ul{
        float: right;
    }
    .carousel-item img{
        width: "100%" !important;
        height: "500" !important;
    }
    .nav > li > a {
        display: block;
        padding: 10px 15px;
    }
    
    .ccm-block-social-links ul.list-inline {
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }
    #mainwrap #socialTop #socialIcons li {
        background: #ebb700;
        border-radius: 16px;
        width: 32px;
        height: 32px;
        text-align: center;
        margin-top: 7px;
        margin-right: 6px;
    }
    .list-inline > li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }
    #mainwrap #socialTop #socialIcons li .fa,  #mainwrap #socialTop #socialIcons li .fab{
        line-height: 1.6;
        font-size: 20px;
        color: #00529b;
    }
    #mainwrap #tagline {
        padding: 10px 0;
    }
    #socialTop a{
        color: #fff !important;
    } 
    
    .jbmm.custom {
        padding-top: 28px;
    }
    .jbmm.custom ul.mega-menuh li {
        float: left;
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
    .jbmm.custom ul.mega-menuh li a {
        /* float: left; */
        /* display: block; */
        color: #04519d;
        padding: 13px 10px;
    }
    .jbmm .navbar{
        float: right;
    }
    li a.pl-210 {
        touch-action: manipulation;
        cursor: pointer;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 17px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        background: #ebb700;
        color: #003768;
        border-color: #d2a300;
        /* padding: 6px 12px !important; */
        font-size: 15px !important;
        margin-top: 4px;
    }
    /* .main-head{
        padding: 30px 0;
        background: #ffd001;
        
    } */
    .hero-wrap {
        width: 100%;
        height: calc(100vh - 117px);
        min-height: 700px;
        position: relative;
    }
    .heron-wrap{
        position: relative;
        min-height: 82vh;
    }
    .hero-wrap .overlay, .heron-wrap .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: 0.5;
        background: #000;
    }
    /* international */
    .intDist{
        background: #00529b url(../images/bg1.png) left top repeat;
    }
    
    .intDist h2, .intDist h1{
        color: #fff;
    }
    .gov .member-bio{
        margin-left: 30%;
        width: 50%;
    }
    .gov ul li{
        margin-bottom: 9px !important; 
    }
    /* governers */
    .member-bio ul li span {
        font-weight: bold;
        display: inline-block;
    }
    .member-bio ul {
        float: initial;
        margin-top: 25px;
        text-align: justify;
    }
    .resume .list-box {
        padding: 120px 30px 30px;
         margin-top: 46px; 
    }
    .member-bio ul li {
        margin-bottom: 5px;
        text-align: justify;
    }
    ul.more-address {
        float: right;
        width: 68%;
        margin-top: 0;
    }
    .resume .list-box img{
        width: 130px;
        height: 130px;
    }
    .intDist .gov img{
        width: 160px;
        height: 160px;
    }
    /* gallery */
    .newsletter{
        display:flex;
        justify-content:center;
        flex-direction:column;
      }
    .blog{
        /* width:600px; */
        line-height:1.5rem;
      }
      .gallery{
        position:relative;
        display:grid;
        /* grid-template-columns:repeat(6,100px); */
        grid-template-rows:repeat(5,100px);
      }
      .item{
        margin:0.2em;
      }
      .small:hover{
        opacity:0.5;
      }
      .item img{
        height:100%;
        width:100%;
        object-fit:contain;
      }
      .feature{
        grid-row: 1 / span 4;
      grid-column: 1 / span 6;
        position:relative;
      }
      .arrow{
        position:absolute;
        bottom:0px;
        background:#546E7A;
        opacity:0.9;
        box-shadow:5px 5px 5px #37474F;
        border-radius:50%;
        width:30px;
        height:30px;
        margin:0.2em;
        
        display:flex;
        justify-content:center;
        align-items:center;
      }
      
      .arrow img{
        width:20px;
        height:20px;
      }
      
      .arrow-left{
        left:-20px;
      }
      
      .arrow-right{
        right:-20px;
      }
      
      
     
    /* footer */
    footer{
        padding: 0 40px;
        
    }
    footer .jbmm.custom ul.mega-menuh li a{
        color: #f86f2d;
    }
    footer .jbmm.custom{
        padding-top:0;
    }
    /* arkai */
 h1.page-title {
    margin-top: 0;
    font-weight: 600;
}
.page-title:after{
    display: block;
    width: 87px;
    margin-top: 10px;
    border-top: 6px solid #ffd001;
    color: transparent;
    content: ".";
    line-height: 1;
    line-height: 10px;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
/* list box */
.contributor-team-list {
    margin-top: 50px;
}
.list-box {
    padding: 55px 10px 20px;
    background: #fff;
    border: 1px solid #ececec;
    -webkit-box-shadow: 0px 1px 15px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 15px -6px rgba(0,0,0,0.5);
    -o-box-shadow: 0px 1px 15px -6px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 15px -6px rgba(0,0,0,0.5);
    text-align: center;
    position: relative;
}
.list-box figure {
    position: absolute;
    top: -49px;
    left: 0;
    right: 0;
}
.list-box figure img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    text-align: center;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
    object-fit: cover;
}
footer{
    padding: 20px 0;
    background: #00529b url(../images/bg1.png) left bottom repeat-x;
    color: white;
}
@media only screen and (max-width: 800px){
    #socialTop {
        height: auto;
        background-image:none;
        padding-bottom: 3px;
    }
           
}
@media screen and (min-width: 992px){
    #mainwrap #tagline #Logo {
        position: absolute;
        z-index: 1;
        top: -34px;
        width: 439px;
        height: 154px;
    }
    #mainwrap #mainNavWrapper {
        height: 84px;
    }
    }
     /* put text alongside gallery for large screens */
      
     @media screen and (min-width:1000px){
        .newsletter{
          flex-direction:row;
        }
        
        .blog{
          width:auto;
          margin:0 3em;
        }
      }

/* ================Contact Us=================== */
